<form method="POST" action="/login">
    <input type="text" name="username" placeholder="Enter Username"/>
    <input type="password" name="password" placeholder="Enter password"/>
    <input type="submit" />
</form>